<a href="https://colab.research.google.com/github/EAFIT-BI/BI-Introduction-2024-1/blob/main/SQLite_%2B_PowerBI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Usualmente encontramos información en las organizaciones almacenada de forma aislada. Podemos organizar una base de datos relacional con toda la información de tal manera que sea más accesible para el usuario

In [1]:
#cargamos las librerías necesarias

import pandas as pd
import sqlite3

#damos lectura a los archivos de excel y los almacenamos en variables independientes

datos_productos = pd.read_csv("/content/info_productos.csv")
datos_ventas = pd.read_csv("/content/info_ventas.csv")

In [ ]:
#visualizamos los primeros elementos de cada tabla
datos_productos.head()

In [ ]:
datos_ventas.head()

In [4]:
#imprimimos las dimensiones de las dos tablas (filas, columnas)
print("Dimensión tabla productos", datos_productos.shape)
print("Dimensión tabla ventas", datos_ventas.shape)

Dimensión tabla productos (10000, 3)
Dimensión tabla ventas (1000, 4)

In [5]:
#hacemos la conexión a la base de datos. Si la base de datos no existe, la crea

conn = sqlite3.connect('veaycompre.db')

In [6]:
#creamos el cursos (apuntador a la base de datos)

c = conn.cursor()

In [7]:
#creamos la tabla producto

c.execute('''CREATE TABLE productos
(id_producto INTEGER PRIMARY KEY,
nombre TEXT,
precio REAL)''')

In [8]:
#pasamos la información del DataFrame a la tabla productos en sqlite

datos_productos.to_sql('productos', conn, if_exists = 'append', index = False)

10000

In [9]:
#agregamos información a la tabla productos directamente

#hacemos una lista con la información faltante

productos_faltantes = [(10001, 'Laptop', 1200.00),
                       (10002, 'Coco', 2.00),
                       (10003, 'Cuaderno', 1.50)]

#insertamos la información en la tabla existente

c.executemany('INSERT INTO productos VALUES (?, ?, ?)', productos_faltantes)

In [11]:
#creamos la tabla ventas

c.execute('''CREATE TABLE ventas
(id_ventas INTEGER PRIMARY KEY,
id_producto INTEGER,
cantidad INTEGER,
fecha DATE,
FOREIGN KEY(id_producto) REFERENCES productos(id_producto)) ''')

In [12]:
#pasamos la información del DataFrame a la nueva tabla

datos_ventas.to_sql('ventas', conn, if_exists = 'append', index = False)

#guardamos los cambios
conn.commit()
#cerramos la conexión
conn.close()